    <div class="logo">
      <img src="img/meeter.png" alt="Logo" width="150px">
    </div>
    <nav>
      <ul>
        <li><a href="/mainPage">Szukaj wydarzenia</a></li>
          <li><a href="/createEvent">Utwórz wydarzenie</a></li>
          <li><a href="/userProfile">Profil użytkownika</a></li>
          <li><a href="/list">Lista Wydarzeń</a>
            <li><a href="/api/logout">Wyloguj</a>
          </form></li>
      </ul>
    </nav>