@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.main {
  height: 700px;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 1200px) {
  .main {
    flex-direction: column;
  }
}
p {
  letter-spacing: 1px;
  font-size: 20px;
  margin: 10px;
  font-weight: 500;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.left {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");

html {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  height: 100vh;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formSpace {
  background-color: #fff;
  width: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  padding: 0 30px 30px 30px;
}
.formSpace {
  background-color: #fff;
  width: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  padding: 0 30px 30px 30px;
}
.formSpace h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.formSpace form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txtField {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txtField input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txtField label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txtField span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txtField input:focus ~ label,
.txtField input:valid ~ label {
  top: -5px;
  border-bottom: #2691d9;
}
.txtField input:focus ~ span::before,
.txtField input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}
input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
}

.signupLink {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signupLink a {
  color: #2691d9;
  text-decoration: none;
}
.signupLink a:hover {
  text-decoration: underline;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

input {
  margin: 0 auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
}

.close {
  position: relative;
  right: -20px;
  font-size: 22px;
  color: #333;
  cursor: pointer;
  float: right;
}

.close:hover {
  color: #666;
}

/* input[type="date"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
} */

input[type="date"] {
  margin: 0 auto 30px;
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid gray;
  float: right;
  margin-top: 10px;
}

.datePicker label {
  padding: 0 5px;
  height: 40px;
  /* font-size: 16px; */
  color: #adadad;
}
