main {
  display: flex;
  height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

ul li a {
  padding: 0 20px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

li a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: #c4c4f7;
  transition: all 0.5s;
}

li a:hover::after {
  width: 100%;
}

.hero-img {
  max-width: 670px;
  height: auto;
}

main h1 {
  text-align: center;
  font-size: 54px;
  color: #521f68;
  text-transform: uppercase;
  margin-bottom: 50px;
}

main h2 {
  font-size: 25px;
  color: #fca70c;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
}

main p {
  font-size: 14px;
  font-weight: 400;
  color: black;
  line-height: 31.5px;
  margin: 30px 0;
}

content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cta {
  padding: 15px 30px;
  background: #c4c4f7;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

.signup-btn {
  padding: 10px 30px;
  background: #c4c4f7;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
}

select {
  border: 0 !important;
  background: #ffffff;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

input {
  border: 0 !important;
  padding: 0 0.5em;
  color: rgb(0, 0, 0);
  font-size: 1em;
  width: 20em;
  line-height: 4;
  background: #ffffff;
  border: none;
  text-align: center;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 4em;
  line-height: 3;
  background: #ffffff;
  color: rgb(0, 0, 0);
  overflow: hidden;
  border: none;
  border-left: grey 3px solid;
  border-right: grey 3px solid;
}

.searchButton {
  width: auto;
  background-color: #ff0040;
  border-radius: 0 25px 25px 0;
  width: 60px;
}

#city {
  border-radius: 25px 0 0 25px;
}
