<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meeter</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="styles/createEvent.css">
  <link rel="stylesheet" href="styles/style.css" />
  <script src="https://kit.fontawesome.com/8ac3213b3c.js" crossorigin="anonymous"></script>
</head>

<body>
  <header><%- include('../views/partials/header.ejs'); %>
  </header>
  <main>
    <div class="formSpace"index="formSpaceRegister">
        <h1>Nowe wydarzenie</h1>
        <!-- wyrzuciłem action method tez-->
        <form class="form" id="form">
          
          
          <div class="txtField">
            <div class="form-control" id="ti">
              <label>Tytuł wydarzenia</label>
              <input
                type="text"
                placeholder=" "
                name="eventTitle"
                id="eventTitle"
              />
              <!-- <span></span> -->
              <!-- <label>Tytuł wydarzenia</label> -->
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
              <div class="errorMsg">
                <small>Error message</small>
              </div>
            </div>
          </div>

          <div class="txtField">
            <div class="form-control" id="dsc">
              <label>Opis wydarzenia</label>

              <textarea style="resize: none;" id="eventDescription" name="eventDescription"
              rows="5" cols="33">
              </textarea>
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
              <div class="errorMsg">
                <small>Error message</small>
              </div>
            </div>
          </div>

          <div class="txtField">
            <div class="form-control" id="ve">
              <label>Miejscowość</label>
              <input
                type="text"
                placeholder=" "
                name="eventVenue"
                id="eventVenue"
              />
              <!-- <span></span>
  -->
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
              <div class="errorMsg">
                <small>Error message</small>
              </div>
            </div>
          </div>

          <div class="select">
            <div class="form-control" id="cat">
              <label>Kategoria wydarzenia</label>
              <select name="eventCategory" id="eventCategory">
                <option selected disabled>Wybierz kategorię wydarzenia</option>
                <option value="Gastronomia">Gastronomia</option>
                <option value="Muzyka">Muzyka</option>
                <option value="Kultura">Kultura</option>
                <option value="Sport">Sport</option>
                <option value="Inne">Inne</option>
              </select>
              <div class="errorMsg">
                <small>Error message</small>
              </div>
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
            </div>
          </div>

          


            <div class="txtField">
              <div class="form-control" id="date">
                
              <label>Data urodzenia</label>
              <input type="date" name="eventDate" id="eventDate"/>
              <div class="errorMsgDatePicker">
                <small>Error message</small>         
              </div>
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
              </div>
            </div>
            <input type="submit" value="Utwórz wydarzenie" onclick="checkInputs()"/>
          </form>

        </form>
      </div>
    </div>
  </main>

  <!-- <footer>
    <%- include('../views/partials/footer.ejs'); %>
  </footer>  -->

  <script src="eventDataValidation.js"></script>

  <!-- <footer>
    <p>Copyright © Meeter 2022</p>
  </footer> -->
  <script src="eventDataValidation.js"></script>

</body>

</html>