<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meeter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="styles/eventPage.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <script src="https://kit.fontawesome.com/8ac3213b3c.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header><%- include('../views/partials/header.ejs'); %>
    </header>
    <main>
    </main>
    <footer>
      <%- include('../views/partials/footer.ejs'); %>
    </footer>
    <script type="text/javascript" src="../mainPage.js"></script>
  </body>
</html>
