<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meeter</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="styles/styleUserProfile.css">
  <link rel="stylesheet" href="styles/style.css" />
  <script>src = "https://kit.fontawesome.com/8ac3213b3c.js"</script>
</head>

<body>
  <header>
    <div class="logo">
      <img src="img/meeter.png" alt="Logo" width="150px">
    </div>
    <nav>
      <ul>
        <li><a href="/mainPage">Szukaj wydarzenia</a></li>
          <li><a href="#">Utwórz wydarzenie</a></li>
          <li><a href="/userProfile">Profil użytkownika</a></li>
          <li><form action="/logout" method="POST">
            <button>Wyloguj</button>
          </form></li>
      </ul>
    </nav>
  </header>
  <div class="flexbox">
    <main>
          <div class="formSpace">
            <h1>Profil użytkownika</h1>
            <form>
              <div class="txtField">
                <input type="text" value="<%= firstName %>" name="input"  disabled/>
                <span></span>
                <label>Imie</label>
              </div>
              <div class="txtField">
                <input type="text" value="<%= lastName %>"  name="input"  disabled/>
                <span></span>
                <label>Nazwisko</label>
              </div>
              <div class="txtField">
                <input type="text" value="<%= datePicker %>"  name="input"  disabled/>
                <span></span>
                <label>Wiek</label>
              </div>
              
              <div class="txtField">
                <input type="text" value="<%= email %>" name="input"   disabled/>
                <span></span>
                <label>Email</label>
              </div>
             
              
            </form>
            <button onclick=myFunction()>Edytuj</button>
          </div>
        </div>
    </main>
    <footer>
        <p>Copyright © Meeter 2022</p>
    </footer>
  </div>
  <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
  <script src="userProfile.js"></script>
</body>
</html>