.event {
  font-size: 14px;
  display: flex;
  width: 900px;
  background-color: rgb(207, 207, 207);
  justify-content: left;
  height: 150px;
  margin-bottom: 1%;
  border-radius: 25px;
}
.bottom {
  display: flex;
}
.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
}

img {
  border-radius: 25px;
}

div.bottom p {
  margin-right: 10px;
  color: rgb(99, 99, 99);
  font-weight: 700;
}

h1 {
  font-size: 20px;
}

p.description {
  font-weight: 600;
}
.expired {
  visibility: hidden;
}
.expired-true {
  visibility: visible;
}

h1.pageTitle {
  color: white;
  text-align: center;
  margin-top: 30px;
  font-size: 28px;
  font-weight: 500;
}
