main {
  display: flex;
  height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
    font-size: 21px;
    color: white;
    margin-bottom: 15px;
    font-weight: 300;
  }
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  ::placeholder {
    color: black;
  }
}
select {
  border: 0 !important;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}
input {
  border: 0 !important;
  padding: 0 0.5em;
  color: rgb(0, 0, 0);
  width: 300px;
  line-height: 4;
  background: #ffffff;
  border: none;
  text-align: center;
}
.select {
  display: flex;
  width: 250px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-left: grey 2px solid;
  border-right: grey 2px solid;
  height: 80px;
  padding-right: 25px;
}
#city {
  border-radius: 25px 0 0 25px;
}

input {
  height: 80px;
  font-size: 14px;
  font-weight: bold;
}

#format {
  font-size: 14px;
  width: 100%;
}

.searchButton {
  display: flex;
  color: white;
  width: 80px;
  height: 80px;
  background-color: #367cdd;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 0 25px 25px 0;
}

#datePicker {
  width: 225px;
}
