@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&family=Roboto&display=swap");
* {
  font-family: "Nunito sans";
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 100px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h1 {
  text-align: center;
  font-size: 21px;
  color: white;
  margin-bottom: 15px;
  font-weight: 300;
}

main h2 {
  font-size: 25px;
  color: #fca70c;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
}

main p {
  font-size: 14px;
  font-weight: 400;
  color: black;
  line-height: 31.5px;
  margin: 30px 0;
}

.hero-img {
  max-width: 670px;
  height: auto;
}

content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

searchBar ::-webkit-input-placeholder {
  color: black;
}

searchBar :-ms-input-placeholder {
  color: black;
}

searchBar ::-ms-input-placeholder {
  color: black;
}

searchBar ::placeholder {
  color: black;
}

select {
  border: 0 !important;
  background: #ffffff;
  background-image: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0.5em;
  color: black;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

input {
  border: 0 !important;
  padding: 0 0.5em;
  color: black;
  width: 250px;
  line-height: 4;
  background: #ffffff;
  border: none;
  text-align: center;
}

.select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  line-height: 3;
  background: #ffffff;
  color: black;
  overflow: hidden;
  border-left: grey 3px solid;
  border-right: grey 3px solid;
  height: 80px;
  padding-right: 25px;
}

#city {
  border-radius: 25px 0 0 25px;
}

input {
  height: 80px;
}

input {
  height: 80px;
  font-size: 14px;
  font-weight: bold;
}

#format {
  font-size: 14px;
  width: 100%;
}

.searchButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 80px;
  height: 80px;
  background-color: #367cdd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 0 25px 25px 0;
}
/*# sourceMappingURL=styleMainPage.css.map */