@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito sans";
}

html {
  background: linear-gradient(120deg, #10122e, #1cbab3);
  height: 100vh;
}
body {
  color: rgb(0, 0, 0);
}
ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  color: #1cbab3;
  li a {
    padding: 0 20px;
    text-decoration: none;
    color: #21d8cf;
    display: inline-block;
    font-weight: 600;
    font-style: 20px;
  }
  & ::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background-color: #ffffff;
    transition: all 0.5s;
  }
}
li a:hover::after {
  width: 100%;
}
header {
  background: linear-gradient(120deg, #0a0b1b, #17857f);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 7px;
}
footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 550;
  opacity: 60%;
}
